
<ion-header>

  <ion-navbar color="favorite">
    <ion-title>GoSend</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="home getstart" >
  <div id="map"></div>
  <ion-card>
  <ion-list>

      <form #gosendForm="ngForm" novalidate>
        
        <ion-item>
          <ion-label floating color="favorite">Pickup Location</ion-label>
          <ion-input (click)="showModal()" [(ngModel)]="gosend.location" name="location" type="text" #location="ngModel" ion-text color="favorite" required>
          </ion-input>
        </ion-item>
        <div [hidden]="location.valid || location.untouched" >
          <p  *ngIf="location.errors" color="danger" padding-left>
            Location is required
          </p>          
        </div>    
      

        <ion-item>
          <ion-label floating color="favorite">Package Weight(in grams)</ion-label>
          <ion-input [(ngModel)]="gosend.weight" name="weight" type="number" #weight="ngModel" ion-text color="favorite" required>
          </ion-input>
        </ion-item>
        <p [hidden]="weight.valid || weight.untouched" color="danger" padding-left>
          Package Weight is required
        </p>

        <ion-item>
          <ion-label floating color="favorite">Package Quantity</ion-label>
          <ion-input [(ngModel)]="gosend.quantity" name="quantity" type="number" #quantity="ngModel" ion-text color="favorite" required>
          </ion-input>
        </ion-item>
        <p [hidden]="quantity.valid || quantity.untouched" color="danger" padding-left>
          Package quantity is required
        </p>
        
        <ion-item>
          <ion-label floating color="favorite">Destination</ion-label>
          <ion-input (click)="showModal()" [(ngModel)]="gosend.destination" name="destination" type="text" #destination="ngModel" ion-text color="favorite" required>
          </ion-input>
        </ion-item>
        <div [hidden]="destination.valid || destination.untouched" >
          <p  *ngIf="destination.errors" color="danger" padding-left>
            Location is required
          </p>          
        </div>

        <ion-item>
          <ion-label floating color="favorite">Delivery Time</ion-label>
          <ion-input (click)="showModal()" [(ngModel)]="gosend.time" name="time" type="text" #time="ngModel" ion-text color="favorite" required>
          </ion-input>
        </ion-item>
        <div [hidden]="time.valid || time.untouched" >
          <p  *ngIf="time.errors" color="danger" padding-left>
            Location is required
          </p>          
        </div>

        

        <div padding>
          <button ion-button (click)="goSendRequest(gosendForm)" type="submit" color="favorite" block>Submit</button>
        </div>

      </form>
  </ion-list>
  </ion-card>
</ion-content>
